services:
  # Dịch vụ Database
  postgres-db:
    image: postgres:15-alpine
    container_name: postgres-iam
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 123456
      POSTGRES_DB: iam_service_db
    networks:
      - car-rental-network

  # Dịch vụ IAM
  iam-service:
    build:
      context: . # Đường dẫn đến thư mục chứa Dockerfile
    container_name: iam-service
    ports:
      - "8080:8080" # Cổng truy cập từ bên ngoài
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://postgres-db:5432/iam_service_db
      - SPRING_DATASOURCE_USERNAME=postgres
      - SPRING_DATASOURCE_PASSWORD=123456
    depends_on:
      - postgres-db
    networks:
      - car-rental-network

networks:
  car-rental-network:
    driver: bridge